{% extends "index.html" %}
{% import "macros/post_macros.html" as post_macros %}

{% block title %}
    {% if page.title %}
    {{ page.title }} | {{ config.title }}
    {% else %}
    {{ super() }}
    {% endif %}
{% endblock title %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  {% if page.description %}
  "description": "{{ page.description }}",
  {% elif page.summary %}
  "description": "{{ page.summary | striptags | truncate(length=200) }}",
  {% else %}
  "description": "{{ config.description }}",
  {% endif %}
  {% if page.date %}
  "datePublished": "{{ page.date | date(format='%+') }}",
  {% endif %}
  {% if page.updated %}
  "dateModified": "{{ page.updated | date(format='%+') }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ config.extra.author | default(value='Oshadha G') }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ config.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ config.base_url }}/icons/favicon/web-app-manifest-512x512.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.permalink }}"
  },
  "url": "{{ page.permalink }}",
  {% if page.taxonomies.keywords %}
  "keywords": "{{ page.taxonomies.keywords | join(sep=', ') }}",
  {% elif page.taxonomies.tags %}
  "keywords": "{{ page.taxonomies.tags | join(sep=', ') }}",
  {% endif %}
  "inLanguage": "{{ config.default_language | default(value='en') }}"
}
</script>
{% endblock structured_data %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block main %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <data class="muted">{{ post_macros::meta(page=page) }}</data>
        {# Optional cover/hero image #}
        {% set img_url = false %}
        {% if page.extra.cover_image_url %}
          {% set_global img_url = page.extra.cover_image_url %}
        {% elif page.extra.cover_image_static %}
          {% set_global img_url = get_url(path=page.extra.cover_image_static, trailing_slash=false) %}
        {% elif page.extra.cover_image and page.assets %}
          {% for asset in page.assets %}
            {% if asset is ending_with(page.extra.cover_image) %}
              {% set_global img_url = asset | safe %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if img_url %}
        <figure class="post-cover" style="margin: 1.25rem 0;">
          <img src="{{ img_url }}" alt="{{ page.title }} cover" style="width:100%;height:auto;border-radius:10px;border:1px solid var(--color-border-default, #e5e7eb);" />
        </figure>
        {% endif %}
    </header>

    <article itemprop="articleBody">
        {% if page.summary and page.summary != page.content %}
            {{ page.summary | safe }}

            {% if page.extra.toc | default(value=false) and page.toc %}
              {% include "partials/toc.html" %}
            {% endif %}

            <!-- Render the rest of the content after removing the summary portion -->
            {{ page.content | replace(from=page.summary, to="") | safe }}

            <!-- TODO: change to this if #3001 is merged: https://github.com/getzola/zola/pull/3001 -->
            <!-- {{ page.content | safe }} -->
        {% else %}
            <!-- If no summary separate from content, just render content -->
            {{ page.content | safe }}
        {% endif %}
    </article>

    <!-- Comment section -->
    {% block comments %}
      {% if config.extra.comments | default(value="false") %}
        {% if page.extra.comments | default(value="true")%}
          {% include "_giscus_script.html" %}
        {% endif %}
      {% endif %}
    {% endblock comments %}


    <!-- Page footer -->
    {% include "partials/footer.html" %}
</article>

{% endblock main %}
